// Table of Contents
// =====================
// Imports
// Fonts
// Variables
// Mixins
// Generic
// Navigation
// Tabzilla
// Footer
// Homepage
// Profile detail
// Profile create/edit
// Generic Groups, Functional Areas and Search Results
// Search Results
// Groups
// Generic bootstrap fixes
// About
// Invite/Invited

/* Imports
==================== */
@import "compass/css3";


/* Reset
==================== */
ul,
ol {
	margin: 0;
	padding: 0;
}

a,
ul,
ol,
li,
ul > li:before,
ul > li:after {
	list-style-type: none;
}


/* IcoMoon
==================== */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot');
	src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff') format('woff'),
		url('fonts/icomoon/icomoon.ttf') format('truetype'),
		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-twitter, .icon-mail, .icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-mail:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\30";
}

.icon {
	$size: 69px;
	background: rgba(0,0,0,0.3);
	@include border-radius($size);
	display: inline-block;
	cursor: pointer;
	margin: 0 10px 1px 0;
	width:  $size;
	height: $size;

	color: #fff;
	font-size: 30px;
	line-height: 69px;
	text-align: center;
	vertical-align: top;
}

.icon:hover {
	background: rgba(0,0,0,0.5);
}

/* Fonts
==================== */
@font-face {
    font-family: 'museo_sans_rounded100';
    src: url('fonts/museosansrounded-100/museosansrounded-100-webfont.eot');
    src: url('fonts/museosansrounded-100/museosansrounded-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-100/museosansrounded-100-webfont.woff') format('woff'),
         url('fonts/museosansrounded-100/museosansrounded-100-webfont.ttf') format('truetype'),
         url('fonts/museosansrounded-100/museosansrounded-100-webfont.svg#museo_sans_rounded100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('fonts/museosansrounded-300/museosansrounded-300-webfont.eot');
    src: url('fonts/museosansrounded-300/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-300/museosansrounded-300-webfont.woff') format('woff'),
         url('fonts/museosansrounded-300/museosansrounded-300-webfont.ttf') format('truetype'),
         url('fonts/museosansrounded-300/museosansrounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dancing_script_400";
    src: url('fonts/dancingscript/dancing_script-webfont.eot');
    src: url('fonts/dancingscript/dancing_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dancingscript/dancing_script-webfont.woff') format('woff'),
         url('fonts/dancingscript/dancing_script-webfont.ttf') format('truetype'),
         url('fonts/dancingscript/dancing_script-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Variables
==================== */
$translucent-white:	rgba(255, 255, 255, 0.5);

$light-blue:	#1BBC9B;
$gray:			#8B8B8B;
$green:			#9BC148;
$white:			#FFFFFF;
$dark-white:	#F4F4F4;
$black:			#000000;
$light-black:	#333333;
$blue:			#33B4E4;


/* Reset
==================== */
ul,
ol {
	margin: 0;
	padding: 0;
}

a,
ul,
ol,
li,
ul > li:before,
ul > li:after {
	list-style-type: none;
}

li {
	line-height: 20px;
}

img {
	border: 0 none;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

figcaption * {
	padding: 0 10px;
	margin: 0;
}

figcaption *:first-child {
	padding-top: 5px;
}
figcaption *:last-child {
	padding-bottom: 5px;
}


/* Global
==================== */
body, input, button, select, textarea {
 	color: #333;
	font-family: "museo_sans_rounded100", sans-serif;
	font-size: 14px;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}


/* Text
==================== */
h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-family: "museo_sans_rounded300", sans-serif;
	font-weight: 300;
	margin: 20px 0;
	line-height: 100%;
}

h1 {
	font-size: 55px;
	color: #fff;
	text-align: center;
}
h2 { font-size: 42px; }
h3 { font-size: 17px; }
h4 { font-size: 17px; }
h5 { font-size: 15px; }
h6 { font-size: 13px; }

span {
	display: block;
	font-size: 16px;
	line-height: 100%;
}

p {
	font-size: 18px;
	margin: 10px 0 20px;
}

a {
	font-family: "museo_sans_rounded300", sans-serif;
	font-weight: 300;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }


/* Generic
==================== */
html {
	$grid_background: "../img/white_grid.png";
	$color-stop-r: 252;
	$color-stop-g: 87;
	$color-stop-b: 94;
	$color-stop-a: 0.3;

	background: #66cc9a;
	background: -moz-linear-gradient(315deg, rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a) 0%, rgba(80, 212, 220, 0.3) 100%) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a)), color-stop(100%,rgba(80, 212, 220, 0.3))) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	background: -webkit-linear-gradient(315deg,  rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a) 0%, rgba(80, 212, 220, 0.3) 100%) url($grid_background) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	background: -o-linear-gradient(315deg, rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a) 0%, rgba(80, 212, 220, 0.3) 100%) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	background: -ms-linear-gradient(315deg, rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a) 0%, rgba(80, 212, 220, 0.3) 100%) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	background: linear-gradient(315deg, rgba($color-stop-r, $color-stop-g, $color-stop-b, $color-stop-a), rgba(255, 194, 0, 0.3) 100%) repeat 0% 0%, url($grid_background) repeat 0% 0% transparent;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
body {
	h1 {
		color: #333;
	}
}

article:after {
	content: " ";
	display: block;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.preview-logo {
	margin: 20px auto;
	width: 420px;
	height: 420px;
}

.proj-status {
	margin: 50px auto;
	width: 720px;
	height: auto;
	.headline {
		color: $white;
		font-family: "dancing_script_400";
		font-size: 114px;
		font-weight: 400;
		line-height: 100%;
		text-align: center;
		text-shadow: 0px 1px 1px $light-black;
	}
}

.page-header {
	background: transparentize($translucent-white, 0.3);
	position: absolute;
		top: 0;
		left: 10px;
	height: 50px;
	z-index: 4;
	h1 {
		color: $black;
		font-size: 32px;
		margin: 10px;
		text-align: left;
	}
}

.section-header {
	display: table;
	margin: 0 0 20px 0;
	padding: 15px 0;
	width: 100%;
	height: 30px;
	h2 {
		font-family: "dancing_script_400";
		font-size: 48px;
		font-weight: 400;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	}
}

.s-contact {
	background: transparentize($translucent-white, 0.3);
	padding: 50px 0;
	.contact-container {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			text-align: center;
		}
	}
}

.page-footer {
	margin: 50px auto 10px;
	width: 100%;
	height: 30px;

	font-size: 14px;
	li {
		display: inline-block;
		float: left;
		margin: 7px 10px 0 0;
		&:first-child {
			margin: 7px 10px 0 10px;
		}
	}
	.page-footer-copyright {
		font-size: 16px;
		text-align: center;
		a {
			color: $blue;
			text-decoration: none;
		}
	}
}



/* Forms
==================== */
form,
input,
textarea {
	@include border-radius(0);
}


/* Generic bootstrap fixes
==================== */

.btn {
	border: 0;
}
	.btn-large {
		min-width: 200px;
	}


/* 760px
==================== */
@media only screen and (max-width: 760px) {
	.preview-logo {
		margin: 10px auto 0;
		width: 300px;
		height: 300px;
	}
	.proj-status {
		margin: 30px auto;
		width: 90%;
		.headline {
			font-size: 62px;
		}
	}
	.page-footer {
		.page-footer-copyright {
			font-size: 14px;
		}
	}
}